name: Flutter CI

on:
  push:
    branches:
      - master

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      actions: read
      id-token: write

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Java
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '12'

      - name: Set up Flutter
        uses: subosito/flutter-action@v2
        with:
          channel: 'beta'

      - name: Get dependencies
        run: flutter pub get

      - name: Check formatting
        run: flutter format --set-exit-if-changed .

      - name: Analyze code
        run: flutter analyze .

      - name: Run tests
        run: flutter test

      - name: Get previous version from latest tag and increment by 1
        id: version
        run: |
          latest_tag=$(git describe --tags $(git rev-list --tags --max-count=1))
          if [[ $latest_tag =~ ([0-9]+)$ ]]; then
            prev_version=${BASH_REMATCH[1]}
            new_version=$((prev_version+1))
          else
            prev_version=0
            new_version=1
          fi
          echo "soft_version=Soft${new_version}" >> $GITHUB_OUTPUT

      - name: Build APK
        run: flutter build apk

      - name: Rename APK for artifact
        run: |
          mkdir -p build/app/outputs/apk/release/
          mv build/app/outputs/apk/release/app-release.apk build/app/outputs/apk/release/${{ steps.version.outputs.soft_version }}.apk

      - name: Upload APK artifact
        uses: actions/upload-artifact@v4
        with:
          name: ${{ steps.version.outputs.soft_version }}
          path: build/app/outputs/apk/release/${{ steps.version.outputs.soft_version }}.apk
